.row{
	margin-bottom: 2%;
	/*background-color: green;*/
}

.container{
	width: 100%;
	display: table;
}

.container-fluid{
	margin-left: 45%;
}

.navbar-default {
	background-color: #2F83EF;
	border-color: #2F83EF;
	border-radius: 0;
	-webkit-box-shadow: 0px 6px 3px 0px rgba(115,111,115,0.65);
	-moz-box-shadow: 0px 6px 3px 0px rgba(115,111,115,0.65);
	box-shadow: 0px 6px 3px 0px rgba(115,111,115,0.65);
}
.navbar-header{
	margin-top: 1%;
}

.day{
	color: #ffffff;
	font-size: 15pt;
	font-weight: bold;
}

input{
	margin-left: 2%;
	margin-right: 2%;

}

input[type="checkbox"]{
	margin-left: 2%;
	margin-right: 2%;
	
}

input[type="text"]{
	width: 150px;
}

input[type="number"]{
	width: 60px;
}

.title{
	font-weight: bold;
	font-size: 10pt;
}

ul{
	list-style: none;
}

li{
	margin-top: 1%;
	margin-bottom: 1%;

}

.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.white_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    border: 16px solid orange;
    background-color: white;
    z-index:1002;
    overflow: auto;
}

.col-md-4{
	width: 28%;
	margin-left:2.5%;
	margin-right:2.5%;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(115,111,115,0.65);
	-moz-box-shadow: 0px 2px 3px 0px rgba(115,111,115,0.65);
	box-shadow: 0px 2px 3px 0px rgba(115,111,115,0.65);
}

.list, .daily, .chapter, #daily-completion, .book, #chapter-completion{
	height: 300px;
}